<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android">

    <application
        android:label="GBF Cache LSPosed"
        android:description="@string/app_description"
        android:allowBackup="false"
        android:supportsRtl="true">

        <meta-data
            android:name="xposedmodule"
            android:value="true" />
        <meta-data
            android:name="xposeddescription"
            android:value="GBF 静态资源本地缓存" />
        <meta-data
            android:name="xposedminversion"
            android:value="82" />

    </application>

</manifest>